<h1> Temp Job Posts </h1>
<h3> <%= @office.name %> </h3>

<% @office.temp_job_posts.each do |temp_job| %>
  <hr/>

  <%=temp_job.when%>
  <%=temp_job.notes%>
  <span> proposals: <%= temp_job.proposal? %>, invites: <%= temp_job.request? %>, applications: <%=temp_job.post?%></span>
  <h3> Applications </h3>
  <% if temp_job.request? %>
    <%= form_for Invite.new(temp_job: temp_job) do |f| %>
      <%= f.collection_select :professional_id, Professional.all, :id, :name %>
      <%= f.hidden_field :temp_job_id, value: temp_job.id %>
      <%= f.submit "create" %>
    <% end %>
  <% else %>
    <%= form_for temp_job do |f| %>
      <%= f.hidden_field :request, value: true %>
      <%= f.submit "Enable request" %>
    <% end %>
  <% end %>
  <ul>
    <% temp_job.applications.each do |application| %>
      <li>
        <%=application.professional.name%>
      </li>
    <% end %>
  </ul>
  <hr/>
<% end %>
